.list {
    width: 100%;

    th {
        text-align: left;
    }
    td {
        text-align: right;        
    }
    tr > * {
        border-bottom: 1px solid #ddd;
        padding: 0.5em 0
    }

    caption {
        font-size: 0;
        position: fixed;
        left: -1000;
        top: -1000;
    }
}